<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/mycss.css') }}">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="#">爬虫</a></li>
            <li><a href="#">分析</a></li>
            <li><a href="#">岗位推荐</a></li>
            <li><a href="#">用户主页</a></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>

</script>
</body>
</html>