*{
    padding:0px;
    margin: 0px;
}

body{
    height: 720px;
    background: url("../img/bg.png") repeat;
    background-size: 100% 100%;
}

a{
    text-decoration: none;
}

.title{
    position:absolute;
    left:100px;
    top:180px;
}

.artistic-text {
            font-family: 'Arial', sans-serif;
            font-size: 48px;
            color: #ff5733;
            text-shadow: 2px 2px 4px #000000;
        }

.start{
    margin-top:20px;
    margin-left:30px;
    height: 50px;
    width:120px;
    border-radius: 25px;
    background-color:mediumslateblue;
    color:#fff;
    font-size:24px;
    border-width:0px;
}

.nav{
    margin:0 auto;
    margin-top:30px;
    width: 1200px;
    height: 50px;
}

.nav ul li{
    display: block;
    float: left;
    margin-right: 50px;
     :hover{
        background-color: aqua;
    }
}

.nav ul li a{
    display: block;
    width: 140px;
    height: 50px;
    padding: 0 auto;
    background-color: mediumslateblue;
    color:#fff;
    align-content: center;
}